<h4>Formularios <small> Template </small></h4>
<hr>

<!-- En esta aproximacion al form le ponemos el evento de (ngSubmit), a cada campo el atributo name y el ngMode y al botón que envia el formulario lo colocamos de tipo submit. A su vez agregamos una referencia local "#forma" que mandamos como argumento a la función que definimos en el (ngSubmit). También debemos de agregar el [class.is-invalid] para que aparezca el campo en rojo si no se llena adecuadamente, aquí cabe resaltar que agregamos la referencia local "#name"="ngModel" para tomar el control de todo el input -->
<form autocomplete="off" (ngSubmit)="save( forma )" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="name"
               [ngModel]="user.name"
               required
               minlength="5"
               [class.is-invalid]="name.invalid && name.touched"
               #name="ngModel"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="lastName"
               [ngModel]="user.lastName"
               required
               minlength="5"
               [class.is-invalid]="lastName.invalid && lastName.touched"
               #lastName="ngModel">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             name="email"
             [ngModel]="user.email"
             required
             minlength="5"
             [class.is-invalid]="email.invalid && email.touched"
             #email="ngModel">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
